/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/dummy/config/database.yml
/spec/dummy/config/initializers/dumpman.rb
/spec/dummy/log/
/tmp/

# rspec failure tracking
.rspec_status
